.scroll-jump-cover {
    background: #000;
    overflow: hidden;
}

.freefall {
    width: 100vw;
    height: 5000vh;
    background: #fff;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0; 
}