.scroll-jump-cover {
    background: #000;
    overflow: hidden;
}

.freefall {
    width: 100vw;
    height: 100000vh;
    background: #fff;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0; 
    /* background-image: url('../../images/worn_dots.png'); */
    background-image: url('../../images/night-sky-clipart-8-bit-212705-9501944.jpg');
    background-size: contain;
    filter: invert(100%);
}