.contacts-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 20vw;
    background-color: #000;
}

.links {
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3vw;
    border-bottom: .2vw solid transparent;
    color: #fff;
    text-decoration: none;
}

a:nth-child(2) {
    margin: 0 5vw;
}

a:hover {
    border-bottom: .2vw solid #FFF;
}

.photo {
    width: 50vw;
}